.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pb-8{
    padding-bottom: 8px;
}
.mb-24{
    margin-bottom: 24px;
}