
// Colors
$black: #000000;
$lightGray: #F5F5F5;
$gray: #CCCCCC;
$darkGray: #777777;
$white: #FFFFFF;
$purple: rgba( 92, 0, 220);



// Typography 
$bodyFont :'Inter', sans-serif;
$bold: 600;
$semiBold: 500;
$base: 300;
