.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pb-8 {
  padding-bottom: 8px;
}

.mb-24 {
  margin-bottom: 24px;
}

.pl-8 {
  padding-left: 8px;
}

.bolded {
  font-weight: 600;
}

.semi-bolded {
  font-weight: 500;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  display: flex;
  position: fixed;
}
@media (max-width: 800px) {
  .navbar {
    display: none;
  }
}

.nav-logo {
  height: 64px;
  width: 48px;
}
.nav-logo:hover {
  cursor: pointer;
}

.nav-icon {
  height: 32px;
  width: 32px;
  padding-bottom: 10px;
}
.nav-icon:hover {
  cursor: pointer;
}

.left-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 63px;
  height: 100vh;
  border-right: 1px solid #CCCCCC;
  padding-bottom: 10px;
}

.right-navbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFFFFF;
  width: 215px;
  height: 100vh;
  border-right: 1px solid #CCCCCC;
  margin: 20px 8px;
  font-size: 12px;
}
.right-navbar h2 {
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
}

.nav-search-bar {
  background-color: #F5F5F5;
  text-indent: 20px;
  background-image: url("../images/Shape.png");
  background-repeat: no-repeat;
  background-position: 5px;
  outline: none;
  border: none;
  font-size: 10px;
  height: 24px;
  width: 183px;
  border-radius: 8px;
  margin-top: 12px;
}

.nav-wrapper {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-item {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10.5px 8px;
  margin-right: 8px;
  border-radius: 8px;
  margin-top: 4px;
}
.nav-item:hover {
  cursor: pointer;
  background-color: rgba(92, 0, 220, 0.08);
  color: rgb(92, 0, 220);
}

.nav-item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #CCCCCC;
  margin-right: 12px;
}

.nav-item:hover::before {
  background-color: rgb(92, 0, 220);
}

.nav-active {
  background-color: rgba(92, 0, 220, 0.08);
  color: rgb(92, 0, 220);
}

.nav-active::before {
  background-color: rgb(92, 0, 220);
}

.sub-list {
  font-size: 14px;
  font-weight: 500;
  color: #777777;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 36px;
}
.sub-list li {
  padding: 8px;
}
.sub-list li:hover {
  color: rgb(92, 0, 220);
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 40px;
  position: sticky;
  top: 0;
  padding: 2px 10px;
  border-bottom: 1px solid #CCCCCC;
}
@media (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav-pop-out {
  padding-top: 16px;
  padding-left: 8px;
  height: 100vh;
  width: 70vw;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 10;
  box-shadow: 5px 30px 40px #000000;
  overflow-y: auto;
  font-size: 12px;
}
.mobile-nav-pop-out h2 {
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
}
@media (min-width: 800px) {
  .mobile-nav-pop-out {
    display: none;
  }
}

.mobile-nav-backdrop {
  margin-top: 20px;
  position: fixed;
  bottom: -44px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(119, 119, 119, 0.8);
}
@media (min-width: 800px) {
  .mobile-nav-backdrop {
    display: none;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
.hamburger span {
  height: 2px;
  width: 28px;
  background-color: #777777;
}
.hamburger span:not(:last-child) {
  margin-bottom: 7px;
}
.hamburger:hover {
  cursor: pointer;
}

.hamburger-active {
  transform: rotate(45deg);
}

.hamburger-active > span:nth-child(2) {
  width: 0;
}

.hamburger-active > span:nth-child(1) {
  transform: translateY(9px);
}

.hamburger-active > span:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}

.event-detail-wrapper {
  background-color: #FFFFFF;
  min-height: 100vh;
  margin-left: 0px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}
.event-detail-wrapper h1 {
  font-weight: 600;
  font-size: 32px;
}
@media (min-width: 800px) {
  .event-detail-wrapper {
    margin-left: 278px;
    padding: 0 48px;
  }
}

.event-header {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  border-bottom: 1px solid #CCCCCC;
}
.event-header h2 {
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 16px;
}
.event-header button {
  background-color: rgb(92, 0, 220);
  color: #FFFFFF;
  width: 101px;
  height: 33px;
  border-radius: 4px;
  gap: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
}
.event-header button:hover {
  background-color: rgba(92, 0, 220, 0.8);
  cursor: pointer;
}
@media (min-width: 800px) {
  .event-header button {
    margin-top: 0;
  }
}

.event-header-content {
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-header-content div {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
}
.event-header-content img {
  height: 89px;
  width: 89px;
  padding-right: 16px;
}
.event-header-content p {
  padding-top: 4px;
}
@media (min-width: 800px) {
  .event-header-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .event-header-content div {
    justify-content: space-between;
  }
}

.attendee-wrapper {
  margin-bottom: 45px;
}
.attendee-wrapper h2 {
  margin: 30px 0;
  font-weight: 600;
  font-size: 40px;
}
.attendee-wrapper h3 {
  font-size: 14px;
}

.instruction-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  min-height: 120px;
  padding: 0 32px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.5em;
}
.instruction-wrapper h4 {
  font-weight: 600;
  font-size: 13px;
  padding-bottom: 4px;
}
.instruction-wrapper h4:hover {
  color: rgb(92, 0, 220);
}
.instruction-wrapper div {
  margin: 8px;
  padding: 16px 0;
  padding-right: 32px;
  width: 221px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 800px) {
  .instruction-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .instruction-wrapper div {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.workflow-component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.instruction-wrapper-small {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-height: 120px;
  padding: 0 32px;
  width: 320px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.5em;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
.instruction-wrapper-small h4 {
  font-weight: 600;
  font-size: 13px;
}
.instruction-wrapper-small p {
  font-size: 12px;
}
@media (min-width: 800px) {
  .instruction-wrapper-small {
    justify-content: center;
  }
}

.instruction-title {
  display: flex;
}
.instruction-title img {
  padding-right: 5px;
  height: 20px;
  width: 20px;
}

.arrow-img {
  background-image: url("../images/Arrow.png");
  width: 15px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 12px;
}

.add-registration-component-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  width: 320px;
  padding: 0 32px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.5em;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
.add-registration-component-wrapper h4 {
  font-weight: 600;
  font-size: 13px;
}
.add-registration-component-wrapper p {
  font-size: 12px;
}
@media (min-width: 800px) {
  .add-registration-component-wrapper {
    min-width: 0;
    justify-content: center;
    align-items: center;
  }
}

.create-new-workflow-img {
  background-image: url("../images/CreateNew.png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */